<!DOCTYPE html>
<!-- this is also a directive -->
<html lang="en" ng-app="App">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="assets//css/styles.css" rel="stylesheet" type="text/css" />
    <script src="assets/lib/angular.min.js"></script>
    <script src="app/app.module.js"></script>
  </head>
  <body ng-init="number=[1,2,3,4]; color='pink'; ninjas=['yoshi', 'ryu', 'don']">

    <!-- we can use ng-include directive to place components into this html -->
    <!-- <ng-include src="'/app/components/header.html'"></ng-include> 
          this code below does the same thing as the one above -->
    <header ng-include="'/app/components/header.html'"></header>
      <div class="content">
        <div ng-controller="AppController">
          <!-- this is an example of 2-way data binding  -->
          <!-- directives dont have to be attributes but they can be custom directive html tags as well -->
          <input type="text" ng-model="favMeat" placeholder="enter you fav meat" />
          <p style="color:{{color}}">Your fav meat is {{favMeat}}</p>
          
          <!-- this is an example of an expression -->
          <p>{{2 + 2}}</p>
          
          <p>You're favorite number is {{number[2]}}</p>
          
          
          <!-- this shows how the ng-repeat directive works, similar to mapping -->
          <li ng-repeat="ninja in ninjas">{{ ninjas[1] == ninja ? ninja : null}}</li>
          
          <br/> 
    
          <!-- the scope data overrrides the data in the ng-init directive above -->
          <li ng-repeat="ninja in ninjas">{{ninja}}</li>
          {{test1}}
    
          <!-- this message comes from the scope of the controller function -->
          <p>{{message}}</p>
    
          <!-- the pipe operator allows us to alter the given data 
          we can use it multiple times -->
          <li ng-repeat="person in people | orderBy: 'name'">{{person.name}}</li>
          
            <br>
    
          <!-- whatever we type in this input, it will be stored into search for our filter  -->
          <input type="text" ng-model="search1" placeholder="type here to filter the list below"/> 
          <ul>
            <li ng-repeat="person in people | orderBy: 'name' | filter: search1">{{person.name}} - {{person.age}}</li>
          </ul>
          
          <ul>
            <li ng-repeat="person in people | orderBy: 'name'">{{person.name}} - {{person.age | currency: '£'}}</li>
          </ul>

          <input type="text" ng-model="search2" placeholder="type here to filter the list below"/> 

          <!-- this is getting the available boolean value and it'll be evaulated through the ng-show here to check if the element will show or not -->
          <!-- this case, if it's true, then it will show with ng-show -->
          <ul>
            <li ng-repeat="person in people | orderBy: 'name' | filter: search2" ng-show="person.available">{{person.name}} - {{person.age}}</li>
          </ul>

          <!-- this case, if value is true, then it will hide with ng-hide -->
          <p>Ng-Hide</p>
          <ul>
            <li ng-repeat="person in people | orderBy: 'name' | filter: search2" ng-hide="person.available">{{person.name}} - {{person.age}}</li>
          </ul>

          <button ng-click="orderValue = 'name'">Order by name</button>
          <button ng-click="orderValue = 'age'">Order by age </button>
          <ul>
            <li ng-repeat="person in people | orderBy: orderValue">
              <img ng-src="{{person.thumb}}" 
                   style="width: 1em; height:1em; margin: -12px 10px 0 0;"
                   ng-show="person.thumb"/>
              <h3>
                {{person.name}} - {{person.age}}
              </h3>
              <!-- this ng-click directive allows us to run a function within the app.module.js -->
              <div class="remove" ng-click="removePerson(person.name)">x</div>
              <span class="belt" style="color:{{person.favoriteColor}}">Color: {{person.favoriteColor}}</span>
            </li>
          </ul>

          <!-- the ng-submit directive is when the submit type button is clicked, it will run the addPerson function -->
          <form ng-submit="addPerson()">
            <input type="text" placeholder="name" ng-model="newPerson.name"/>
            <input type="text" placeholder="age" ng-model="newPerson.age"/>
            <input type="text" placeholder="favoriteColor" ng-model="newPerson.favoriteColor"/>
            <input type="submit" value="Add new person" />
          </form>
        </div>
    </div>
  </body>
</html>
